src/frontend/org/voltdb/compiler/DeploymentFileSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--

    WORTH READING:

    This schema describes the Volt deployment file,
    deployment.xml. org.voltdb.VoltDB processes deployment.xml file using
    the jaxb XML to Java bindings.

    If you modify this schema, you must regenerate the jaxb
    bindings. It's easy to do:

    cd src/frontend
    xjc -p org.voltdb.compiler.deploymentfile org/voltdb/compiler/DeploymentFileSchema.xsd

    Binding objects are created in the org.voltdb.compiler.deploymentfile
    package. These generated files are checked in to svn.

    You can check that changes to this file produce a valid schema using
    the public tool at http://www.w3.org/2001/03/webdata/xsv.

    For more information about jaxb, see:
    http://java.sun.com/developer/technicalArticles/WebServices/jaxb/

  -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">

  <!-- <deployment> -->
  <xsd:element name="deployment" type="deploymentType"/>
  <xsd:complexType name="deploymentType">
    <xsd:sequence>
      <xsd:element name="cluster" minOccurs="1" maxOccurs="1" type="clusterType"/>
      <xsd:element name="users" minOccurs="0" maxOccurs="1" type="usersType"/>
      <xsd:element name="httpd" minOccurs="0" maxOccurs="1" type="httpdType"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- <cluster> -->
  <xsd:complexType name="clusterType">
    <xsd:attribute name="hostcount" type="xsd:int" use="required"/>
    <xsd:attribute name="sitesperhost" type="xsd:int" use="required"/>
    <xsd:attribute name="leader" type="xsd:string" use="required"/>
    <xsd:attribute name="kfactor" type="xsd:int" use="optional" default="0"/>
  </xsd:complexType>

  <!-- <users> -->
  <xsd:complexType name="usersType">
    <xsd:sequence>
      <xsd:element name="user" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="name" type="xsd:string" use="required"/>
          <xsd:attribute name="groups" type="xsd:string" />
          <xsd:attribute name="password" type="xsd:string" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- <httpd> -->
  <xsd:complexType name="httpdType">
    <xsd:sequence>
      <xsd:element name="jsonapi" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:attribute name="enabled" type="xsd:string" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="port" type="xsd:int" use="optional" default="0"/>
  </xsd:complexType>

</xsd:schema>
