src/frontend/org/voltdb/compiler/DeploymentFileSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--

    WORTH READING:

    This schema describes the Volt deployment file,
    deployment.xml. org.voltdb.VoltDB processes deployment.xml file using
    the jaxb XML to Java bindings.

    If you modify this schema, you must regenerate the jaxb
    bindings. It's easy to do:

    cd src/frontend
    xjc -p org.voltdb.compiler.deploymentfile org/voltdb/compiler/DeploymentFileSchema.xsd

    Binding objects are created in the org.voltdb.compiler.deploymentfile
    package. These generated files are checked in to svn.

    You can check that changes to this file produce a valid schema using
    the public tool at http://www.w3.org/2001/03/webdata/xsv.

    For more information about jaxb, see:
    http://java.sun.com/developer/technicalArticles/WebServices/jaxb/


    ALSO, if you change this, consider updating:
        CatalogUtil.getDeploymentCRC()

  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">

  <!-- <deployment> -->
  <xs:element name="deployment" type="deploymentType"/>
  <xs:complexType name="deploymentType">
    <xs:all>
      <xs:element name="cluster" minOccurs="1" maxOccurs="1" type="clusterType"/>
      <xs:element name="paths" minOccurs="0" maxOccurs="1" type="pathsType" />
      <xs:element name="partition-detection" minOccurs="0" type="partitionDetectionType"/>
      <xs:element name="admin-mode" minOccurs="0" type="adminModeType"/>
      <xs:element name="heartbeat" minOccurs="0" maxOccurs="1" type="heartbeatType"/>
      <xs:element name="httpd" minOccurs="0" maxOccurs="1" type="httpdType"/>
      <xs:element name="snapshot" type="snapshotType" minOccurs="0" maxOccurs="1" />
      <xs:element name="export" minOccurs="0" maxOccurs="1" type="exportType"/>
      <xs:element name="users" minOccurs="0" maxOccurs="1" type="usersType"/>
      <xs:element name="commandlog" minOccurs="0" maxOccurs="1" type="commandLogType" />
      <xs:element name="systemsettings" minOccurs="0" maxOccurs="1"
                  type="systemSettingsType" />
    </xs:all>
  </xs:complexType>

  <!-- <cluster> -->
  <xs:complexType name="clusterType">
    <xs:attribute name="hostcount" type="xs:int" default="1"/>
    <xs:attribute name="sitesperhost" type="xs:int" default="2"/>
    <xs:attribute name="kfactor" type="xs:int" default="0"/>
  </xs:complexType>

  <!-- <paths> -->
  <xs:complexType name="pathEntry">
      <xs:attribute name="path" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="pathsType">
    <xs:all>
        <xs:element name="voltdbroot" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:attribute name="path" type="xs:string" default="voltdbroot"/>
            </xs:complexType>
        </xs:element>
        <xs:element name="snapshots" type="pathEntry" minOccurs="0" maxOccurs="1"/>
        <xs:element name="exportoverflow" type="pathEntry" minOccurs="0" maxOccurs="1"/>
        <xs:element name="commandlog" type="pathEntry" minOccurs="0" maxOccurs="1"/>
        <xs:element name="commandlogsnapshot" type="pathEntry" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="memorySizeType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- <systemsettings> -->
  <xs:complexType name="systemSettingsType">
    <xs:all>
        <xs:element name="temptables" minOccurs="0" maxOccurs="1">
            <xs:complexType>
                <xs:attribute name="maxsize" type="memorySizeType" default="100"/>
            </xs:complexType>
        </xs:element>
         <xs:element name="snapshot" minOccurs="0" maxOccurs="1">
            <xs:complexType>
                <xs:attribute name="priority" type="snapshotPriorityType" default="6"/>
            </xs:complexType>
        </xs:element>
    </xs:all>
  </xs:complexType>

  <!-- <admin-mode> (always enabled.) -->
  <xs:complexType name="adminModeType">
    <xs:attribute name="port" type="xs:int" default="21211"/>
    <xs:attribute name="adminstartup" type="xs:boolean" default="false"/>
  </xs:complexType>

    <!-- <command log> -->
  <xs:complexType name="commandLogType">
    <xs:all>
        <xs:element name="frequency" minOccurs="0" maxOccurs="1">
            <xs:complexType>
                <xs:attribute name="time" type="logFrequencyTimeType" default="200"/>
                <xs:attribute name="transactions" type="logFrequencyTxnsType" default="2147483647"/>
            </xs:complexType>
        </xs:element>
    </xs:all>
    <xs:attribute name="synchronous" type="xs:boolean" default="false"/>
    <xs:attribute name="enabled" type="xs:boolean" default="true"/>
    <xs:attribute name="logsize" type="logSizeType" default="1024" />
  </xs:complexType>

  <!-- <partition-detection>/<snapshot> -->
  <xs:complexType name="partitionDetectionType">
      <xs:all>
          <xs:element name="snapshot" minOccurs="1" maxOccurs="1">
             <xs:complexType>
                 <xs:attribute name="prefix" type="xs:string" use="required"/>
             </xs:complexType>
          </xs:element>
      </xs:all>
      <xs:attribute name="enabled" type="xs:boolean" default="true"/>
   </xs:complexType>

  <!-- <heartbeat-config> -->
  <xs:complexType name="heartbeatType">
    <xs:attribute name="timeout" type="timeoutType" use="required"/>
  </xs:complexType>

  <xs:simpleType name="timeoutType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- restriction on frequency of snapshot work.
       0-10 where 0 means no priority control and 1
       means high priority and 10 means lowest priority -->
  <xs:simpleType name="snapshotPriorityType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="10"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- restriction on command log size in megabytes -->
  <xs:simpleType name="logSizeType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="3"/>
      <xs:maxInclusive value="102400"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- restriction on command log fsync frequency -->
  <xs:simpleType name="logFrequencyTimeType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="5000"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- restriction on command log fsync txns -->
  <xs:simpleType name="logFrequencyTxnsType">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="2147483647"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- <httpd> -->
  <xs:complexType name="httpdType">
    <xs:sequence>
      <xs:element name="jsonapi" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="enabled" type="xs:boolean" default="true"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="port" type="xs:int" default="8080"/>
    <xs:attribute name="enabled" type="xs:boolean" default="true"/>
  </xs:complexType>

  <!-- <snapshot> -->
  <xs:complexType name="snapshotType">
    <xs:attribute name="frequency" type="xs:string" use="required"/>
    <xs:attribute name="retain" type="xs:int" use="required"/>
    <xs:attribute name="prefix" type="xs:string" use="required"/>
    <xs:attribute name="enabled" type="xs:boolean" default="true"/>
  </xs:complexType>

  <!-- <export> -->
  <xs:complexType name="exportType">
    <xs:attribute name="class" type="xs:string" default="org.voltdb.export.processors.RawProcessor"/>
    <xs:attribute name="enabled" type="xs:boolean" default="true"/>
  </xs:complexType>

  <!-- <users> -->
  <xs:complexType name="usersType">
    <xs:sequence>
      <xs:element name="user" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="groups" type="xs:string"/>
          <xs:attribute name="password" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
